@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.firstSection{
    height: 90vh;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 28, 28);
    max-width: 75%;
    height: 75%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firstHalf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid white;
    border-radius: 94px;
}
.text-big{
    font-size: 30px;
    padding: 12px 0;
    font-weight: bold;
}
.text-big1{
    font-size: 30px;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
}
.text-big2{
    padding: 10px;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}
.text-small{
    font-size: 20px;
}
.btn{
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid rgb(235, 162, 162);
    border-radius: 25px;
    background: none;
    color: rgb(233, 173, 173);
    margin: 10px 5px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.btn-dark{
    color: black;
    border: 2px solid gray;
}
.btn:hover{
    background-color: rgb(194, 189, 189,0.54);
}
.btn-small{
    padding: 10px 5px;
    vertical-align: middle;
    font-size: 15px;
}
.section{
    /* height: 420px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}
.para{
    padding: 0 65px;
}
.sectionTag{
    font-size: 35px;
}
.sectionSubTag{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.thumbnail img{
    width: 220px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 15px;
}
.contact{
    background-color: #e6e6e6;
    height: 614px;
}
.subHeading{
    text-align: center;
    /* padding: 5px 0; */
    padding-top: 12px;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

@import url('');
*{
    margin: 0;
    padding: 0;
}
.smallnav{
    display: flex;
    align-items: center;
    background-color: #e8e8e4;
}
.smallnav-info{
    display: flex;
    padding: 7px 20px;
    margin: 0 60px;
}
.smallnav-info FontAwesomeIcon{
    margin: 0px 6px;
}
.icon{
    display: flex;
    position: absolute;
    right: 5%;
}
.icondesign{
    display: inline;
    margin: 0px 6px;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}
.logo img{
    width: 60%;
    border: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    cursor: pointer;
}
.nav-list{
    display: flex;
    align-items: right;
    width: -50%;
}
.nav-list li{
    list-style: none;
    padding: 22px 20px;
}
li a{
    color: white;
    text-decoration: none;
}

.listdesign{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.active{
    color: gray;
    border-bottom: 2px solid gray;
}

.listdesign:hover{
    color: gray;
}
.right-nav{
    width: 20%;
    text-align: center;
    position: absolute;
    right: 0;
}
#search{
    padding: 6px;
    border: 5px solid gray;
    border-radius: 20px;
    width: 83%;
}
.background{
    background: rgba(176, 176, 190, 0.5) url();
    background-size: cover;
    background-blend-mode: darken;
}
.btn{
    font-size: 16px;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 25px;
    background: none;
    color: white;
    margin: 10px 5px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.btn-small{
    padding: 10px 15px;
    vertical-align: middle;
    font-size: 20px;
}
.advantage{
    text-align: center;
}
.center{
    float: center;
    text-align: center;
    padding: 10px 5px;
    vertical-align: middle;
    font-size: 15px;
}
h2{
    text-align:center;
    background-color:blue;
  }
    * {
      box-sizing: border-box;
    }
    .img
    {
        width: 270px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        margin-top: 10px;
    }
    .decription::after
    {
        padding:10px;
        background-color: greenyellow;
        text-align: center;
    }
    
    .column {
      float: left;
      width: 33.33%;
      padding: 1px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
      padding: 40px;
    }
    .space{
      float : center;
      padding-left: 250px;
    }
    .help{
      float:right;
      padding-left: 100px;
    }
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }
    .wrapper {
        width: 1170px;
        margin: auto;
    }
    header {
        background: linear-gradient(rgba(178, 230, 230, 0.8), rgba(242, 248, 248, 0.8)), url();
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    header1 {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url();
        height: 10vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .nav-area li a {
        color: rgb(238, 173, 173);
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nav-area li a:hover {
        background: #fff;
        color: #333;
    }
    .logo {
        float: left;
    }
    .logo img {
        width: 100%;
        padding: 15px 0;
    }
    .welcome-text {
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 20% 30%;
        text-align: center;
    }
    .welcome-text h1 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
    }
    .welcome-text h1 span {
        color: #00fecb;
    }
    .welcome-text a {
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: inline-block;
        color: #fff;
    }
    .welcome-text a:hover {
        background: #fff;
        color: #333;
    }
    
    @media (max-width:600px) {
        .wrapper {
            width: 100%;
        }
        .logo {
            float: none;
            width: 50%;
            text-align: center;
            margin: auto;
        }
        .nav-area {
            float: none;
            margin-top: 0;
        }
        .nav-area li a {
            padding: 5px;
            font-size: 11px;
        }
        .nav-area {
            text-align: center;
        }
        .welcome-text {
            width: 100%;
            height: auto;
            margin: 30% 0;
        }
        .welcome-text h1 {
            font-size: 30px;
        }
        .btn{
            font-size: 16px;
            padding: 5px 15px;
            border: 2px solid white;
            border-radius: 25px;
            background: none;
            color: white;
            margin: 10px 5px;
            outline: none;
            cursor: pointer;
            font-size: 18px;
            font-family: 'Ubuntu', sans-serif;
        }
        .btn-small{
            padding: 3px 10px;
            vertical-align: middle;
            font-size: 15px;
        }
    }
    .footer-wrapper{
        background: #2f332f;
        color: white;
        width: 80%;
        height: max-content;
        left: 23.5%;
        position: absolute;
        transform: translate(-15%, -15%);
        box-sizing: border-box;
        padding: 70px 30px;
        border-radius: 50px;
    }
    h4 {
        margin: 0px;
        padding: 0 0 10 px;
        text-align: center;
        font-size: 25px;
    }